/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__cn_hutool_hutool_all_5_5_1.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_3_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_1.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_29_0_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__commons_io_commons_io_2_8_0.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_1.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_1.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
/.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
/.idea/libraries/Maven__javax_enterprise_cdi_api_1_0.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__junit_junit_3_8_1.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_10.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_10.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_9.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
/.idea/libraries/Maven__org_apache_maven_maven_aether_provider_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_3_6_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_core_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_3_6_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_builder_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_plugin_api_3_6_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_repository_metadata_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_builder_3_0.xml
/.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_annotations_3_5.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_29.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_29.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_29.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_13_2.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_2_11_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_classworlds_2_5_2.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_component_annotations_1_5_5.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_interpolation_1_14.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_utils_3_1_0.xml
/.idea/libraries/Maven__org_eclipse_sisu_org_eclipse_sisu_inject_0_3_3.xml
/.idea/libraries/Maven__org_eclipse_sisu_org_eclipse_sisu_plexus_0_3_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_18_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
/.idea/libraries/Maven__org_mockito_mockito_core_3_1_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_1_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_16.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_29.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_api_1_7.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_impl_1_7.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_spi_1_7.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_util_1_7.xml
/.idea/libraries/Maven__org_sonatype_plexus_plexus_cipher_1_4.xml
/.idea/libraries/Maven__org_sonatype_plexus_plexus_sec_dispatcher_1_3.xml
/.idea/libraries/Maven__org_sonatype_sisu_sisu_guice_noaop_2_1_7.xml
/.idea/libraries/Maven__org_sonatype_sisu_sisu_inject_bean_1_4_2.xml
/.idea/libraries/Maven__org_sonatype_sisu_sisu_inject_plexus_1_4_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_2_RELEASE.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_3.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
/.idea/misc.xml
/.idea/modules.xml
/spirit-tools/spirit-code-tools/spirit-code-tools.iml
/spirit-common/spirit-common.iml
/spirit-core/spirit-core.iml
/spirit-core/spirit-core-class/spirit-core-class.iml
/spirit-core/spirit-core-compile/spirit-core-compile.iml
/spirit-core/spirit-core-element/spirit-core-element.iml
/spirit-core/spirit-core-lexer/spirit-core-lexer.iml
/spirit-example/spirit-example.iml
/spirit-example/spirit-example-common/spirit-example-common.iml
/spirit-example/spirit-example-plugin/spirit-example-plugin.iml
/spirit-tools/spirit-maven-plugin/spirit-maven-plugin.iml
/spirit-output/spirit-output.iml
/spirit-output/spirit-output-java/spirit-output-java.iml
/spirit-parent.iml
/spirit-starter/spirit-starter.iml
/spirit-starter/spirit-starter-java/spirit-starter-java.iml
/spirit-stdlib/spirit-stdlib.iml
/spirit-tools/spirit-tools.iml
/.idea/vcs.xml
/spirit-stdlib/target/
/spirit-common/target/
/spirit-core/spirit-core-lexer/target/
/spirit-core/spirit-core-element/target/
/spirit-core/spirit-core-class/target/
/spirit-core/spirit-core-compile/target/
/spirit-output/spirit-output-java/target/
/spirit-starter/spirit-starter-java/target/
/spirit-tools/spirit-code-tools/target/
/spirit-tools/spirit-maven-plugin/target/
/spirit-example/spirit-example-common/target/
/spirit-example/spirit-example-plugin/target/
/.idea/uiDesigner.xml

