{
#foreach(${field} in ${fields})
#if(${velocityCount} < ${fields.size()})
#set($suffix = ",")
#end
#if(${field.javaType} == "Integer")
	"${field.property}" : 0$!{suffix}
#elseif(${field.javaType} == "String")
	"${field.property}" : ""$!{suffix}
#elseif(${field.javaType} == "Date")
	"${field.property}" : ""$!{suffix}
#end
#set($suffix = "")
#end
}