package ${package}.dao;

import java.util.List;

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import ${voClassName};

@Mapper
public interface ${daoSimpleName} {

	Integer save(${voSimpleName} entity);

	Integer deleteById(@Param("id") Integer id);
	
	Integer update(${voSimpleName} entity);
	
#foreach(${field} in ${fields})
#if(${field.primary} == true)
	${voSimpleName} queryBy${field.upperCase}(@Param("${field.property}") ${field.javaType} ${field.property})

#end
#end
	List<${voSimpleName}> query(@Param("p") ${voSimpleName} entity, @Param("startIndex") Integer startIndex, @Param("pageSize") Integer pageSize);
	
	Integer queryCount(${voSimpleName} entity);
	
	List<${voSimpleName}> queryByMap(Map<String, Object> map);
	
	Integer queryCountByMap(Map<String, Object> map);

}