DROP TABLE IF EXISTS `${tableName}`;
CREATE TABLE `${tableName}` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
#foreach(${field} in ${fields})
#if(${field.column} != "id")
#if(${field.required} == true)
#set($suffix = " NOT NULL")
#end
#if(${field.defaultValue} != "")
#set($suffix = $!{suffix} + " DEFAULT '" + ${field.defaultValue} + "'")
#end
#if(${field.comment} != "")
#set($suffix = $!{suffix} + " COMMENT '" + ${field.comment} + "'")
#end
#if(${field.jdbcType} == "ENUM")
  `${field.column}` tinyint(4)$!{suffix},
#elseif(${field.jdbcType} == "NUMBER")
  `${field.column}` int(11)$!{suffix},
#elseif(${field.jdbcType} == "VARCHAR")
  `${field.column}` varchar(${field.length})$!{suffix},
#elseif(${field.jdbcType} == "TEXT")
  `${field.column}` text$!{suffix},
#elseif(${field.jdbcType} == "DATETIME")
  `${field.column}` datetime$!{suffix},
#end
#end
#set($suffix = "")
#end
  PRIMARY KEY (`id`),
#foreach(${index} in ${indexs})
#if(${velocityCount} < ${indexs.size()})
  KEY `idx${velocityCount}` (${index}),
#else
  KEY `idx${velocityCount}` (${index})
#end
#end
) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8 COMMENT='${tableComment}';